
@model RolesViewModel

<div class="form-group">
    <input readonly asp-for="Id" class="form-control" placeholder="ID" />
</div>

<div class="form-group">
    <input readonly  asp-for="RoleName" class="form-control" placeholder="Role Name" />
</div>




