@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}
<center class="mt-5 mb-4 pt-3">
    <h1>Edit Employee</h1>
</center>

<div class="w-75 m-auto rounded shadow bg-light mb-5">

  
    <form asp-action="Edit" class=" mb-4 p-5" >
        <div asp-validation-summary="All"></div>

        <partial name="partialViews/CreateEditeEmployeePartial" />


        <input type="submit" value="Save" class="btn btn-outline-primary" />
        <a asp-action="Index" class="btn btn-outline-secondary text-dark">Back To List</a>

    </form>

</div>
@section validationScript {
  @*   <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
 *@
    <partial name="_ValidationScriptsPartial"/>
}