@model UserViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center class="m-4">
    <h1> Are You Sure To Delete This User</h1>
</center>


<div class="w-75 m-auto rounded shadow bg-light mb-5">

    <form asp-action="ConfirmDelete"  class="p-5 mb-3">

        <partial name="partialViews/DeatailsDeleteUserPartial" />


        <input type="submit" value="Delete" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary text-dark">Cancel</a>

    </form>
</div>


