
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div>
            <div>
                <p>Password Reset Link Has Been Send You To Email . Please Check Your Inbox</p>
            </div>
            <div>
                <a href="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a>
            </div>
        </div>
    </div>
</div>


