@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">

    <div class="agileits-top">
        
        <form asp-action="ForgetPassword">
            <div asp-validation-summary="All"></div>

            <input class="text email" asp-for="Email" placeholder="Email" required=""/>
            <input type="submit" value="Send Email"/>

        </form>

    </div>

</div>
@section validationScript {
    @*     <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    *@
    <partial name="_ValidationScriptsPartial" />
}

